<% provide(:title, "Autumn") %>


<h1>Autumn</h1>
<blockquote>

<p>
	I can only sigh <br>
	When I look at the– <br>
	Breathe– <br>
	Autumn sky.<br>
</p>
<p>
	Blood soaked trees– <br>
	Their veins will freeze.<br>
	Ice is the price of  <br>
	Autumn days and <br>
	Autumn nights.<br>
</p>
<p>
	The leaves have fallen; <br>
	They were made of gold,<br>
	Of love the air<br>
	Could not hold.<br>
</p>
<p>
	Alas,<br>
	Leaves cannot<br>
	Fall as raindrops do.<br>
	All will soon be buried <br>
	In frozen time.<br>
</p>
<p>
	How I love and<br>
	Hate. <br>
	The pale scars<br> 
	Along the arms of <br>
	Autumn.<br>
</p>
<p>
	Child of Summer, and<br>
	Mother to Winter; how<br>
	Misunderstood. There is <br>
	Warmth in the heart of <br>
	Autumn.
</p>

</blockquote>