<% provide(:title, "Home") %>

<div class="center jumbotron">

	<h1>readr</h1>

	<h2>
		<a>Our stories should live forever.</a>
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center">
<%= link_to image_tag("rails.png", alt: "Rails logo", height: 600, width: 1140), root_path %>
</div>